This is a Supervised Machine Learning, to predict whether a student will get placed or not based on the various factors, and built using avaiblae Dataset

The input:
gender,
sslc percentage,
sslc board,
puc board,
puc percentage,
puc stream,
degree percentage,
degree stream,
work experience,


output:
placed or not

In [ ]:
# Placement Dataset:
# https://docs.google.com/spreadsheets/d/e/2PACX-1vSNeLrhjSBnnKZw2-1Ji8mEmZ-UlAJIVdeUgXR7XuSSY1CcnwZBkxqTleYG73lWHBuh-55nAwc5OdU1/pub?gid=1617506194&single=true&output=csv

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
data = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSNeLrhjSBnnKZw2-1Ji8mEmZ-UlAJIVdeUgXR7XuSSY1CcnwZBkxqTleYG73lWHBuh-55nAwc5OdU1/pub?gid=1617506194&single=true&output=csv')
data

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [ ]:
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [ ]:
data.shape
data.info
data.describe
data.isnull()
data.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
data.columns
data['status'].value_counts()

data[(data['degree_t']=='Sci&Tech') & (data['status']=='Placed')].sort_values(by="salary", ascending=False).head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
150,151,M,71.00,Central,58.66,Central,Science,58.00,Sci&Tech,Yes,56.0,Mkt&Fin,61.30,Placed,690000.0
77,78,M,64.00,Others,80.00,Others,Science,65.00,Sci&Tech,Yes,69.0,Mkt&Fin,57.65,Placed,500000.0
163,164,M,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.0,Mkt&Fin,66.46,Placed,500000.0
174,175,M,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.0,Mkt&Fin,66.23,Placed,500000.0
53,54,M,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.0,Mkt&HR,71.04,Placed,450000.0

In [ ]:
# Now convert string to number, aka encoding
data['gender']=data['gender'].map({'M':1, 'F':0})
data['ssc_b']=data['ssc_b'].map({'Central':1, 'Others':0})
data['hsc_b']=data['hsc_b'].map({'Central':1, 'Others':0})
data['hsc_s']=data['hsc_s'].map({'Science':2, 'Arts':1, 'Commerce':0})
data['degree_t']=data['degree_t'].map({'Sci&Tech':2, 'Comm&Mgmt':1, 'Others':0})
data['specialisation']=data['specialisation'].map({'Mkt&Fin':1, 'Mkt&HR':0})
data['workex']=data['workex'].map({'Yes':1, 'No':0})
data['status']=data['status'].map({'Placed':1, 'Not Placed':0})
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,1,67.00,0,91.00,0,0,58.00,2,0,55.0,0,58.80,1,270000.0
1,2,1,79.33,1,78.33,0,2,77.48,2,1,86.5,1,66.28,1,200000.0
2,3,1,65.00,1,68.00,1,1,64.00,1,0,75.0,1,57.80,1,250000.0
3,4,1,56.00,1,52.00,1,2,52.00,2,0,66.0,0,59.43,0,NaN
4,5,1,85.80,1,73.60,1,0,73.30,1,0,96.8,1,55.50,1,425000.0

In [ ]:
# Removing Unneccessary Columns, here I am removing MBA also, coz I am a CSE Student
# sl_no, salary, mba_p
data = data.drop(['sl_no', 'salary', 'mba_p'], axis=1)

In [ ]:
X = data.drop(['status'], axis=1)
Y = data['status']

from sklearn.model_selection import train_test_split
X_train, Y_train, X_test, Y_test = train_test_split(X, Y, test_size=0.20, random_state=42)
Y.shape

(215,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

m1 = LogisticRegression()
m1.fit(X_train, Y_train)

m2 = KNeighborsClassifier()
m2.fit(X_train, Y_train)

m3 = svm.SVC()
m3.fit(X_train, Y_train)

m4 = DecisionTreeClassifier()
m4.fit(X_train, Y_train)

m5 = RandomForestClassifier()
m5.fit(X_train, Y_train)

m6 = GradientBoostingClassifier()
m6.fit(X_train, Y_train)

In [ ]:
pred_by_m1 = m1.predict(X_test)
pred_by_m2 = m2.predict(X_test)
pred_by_m3 = m3.predict(X_test)
pred_by_m4 = m4.predict(X_test)
pred_by_m5 = m5.predict(X_test)
pred_by_m6 = m6.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
ms1 = accuracy_score(Y_test, pred_by_m1)
ms2 = accuracy_score(Y_test, pred_by_m2)
ms3 = accuracy_score(Y_test, pred_by_m3)
ms4 = accuracy_score(Y_test, pred_by_m4)
ms5 = accuracy_score(Y_test, pred_by_m5)
ms6 = accuracy_score(Y_test, pred_by_m6)

# models = [m1, m2, m3, m4, m5, m6]
# accuracy_scores = []
# for model in models:
#     y_pred = model.predict(X_test)
#     accuracy = accuracy_score(Y_test, y_pred)
#     accuracy_scores.append(accuracy)

# for i, accuracy in enumerate(accuracy_scores):
#     print(f"ms{i+1} = {accuracy}")

In [ ]:
print(ms1)
# Now of all ms1 has hghest accuracy

# **i.e LOGISTIC REGRESSION has 88% Accuracy**